@model Survey
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="~/css/Style.css">
</head>
<body>
    <div class="wrapper">
        <form asp-action="Submit" asp-controller="Survey" method="post">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Location"></span>
            <label asp-for="Location"></label>
            <select asp-for="Location">
                <option value="Home">Home</option>
                <option value="House">House</option>
                <option value="Online">Online</option>
                <option value="Zoom">Zoom</option>
            </select>
            <span asp-validation-for="Language"></span>
            <label asp-for="Language"></label>
            <select asp-for="Language">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="French">French</option>
            </select>
            <span asp-validation-for="Comment"></span>
            <label asp-for="Comment"></label>
            <input asp-for="Comment">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>