@using DojoSurvey.Models;
@model Survey;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <div class="wrapper">
        <h2>Submitted Info</h2>
        <p>Name: @Model.Name</p>
        <p>Dojo Location: @Model.Location</p>
        <p>Favorite Language: @Model.Language</p>
        <p>Comment: @Model.Comment</p>
    </div>
</body>
</html>